{% extends "WebsiteBundle::Structure/layout.html.twig" %}

{% block menu_class %} navbar-shrink {% endblock %}

{% block content %}

    <section class="tcenter" style=" background-size:cover; height:400px; padding: 150px 0px; background-image: url('/bundles/website/images/cluj-event/cluj-event.jpg'); background-position: top center; background-repeat: no-repeat;" data-stellar-background-ratio="0.4">

        <div class="mentorship-hero">
            <div class="container clearfix">
                {#<h1 class="white uppercase">Romanian IT 2.0 - Open Discussion Forum</h1>#}
                {#<h2 class="white">Great ideas emerge when leaders are brought together for an open dialogue!</h2>#}

            </div>
        </div>
    </section>

    <section class="lsrs tcenter">
        <div class="container">
            <h3 style="padding-top: 15px;">
                This event is organized with the support of the Cluj-Napoca City Hall and the City Council.
            </h3>
        </div>
        <hr>
    </section>

    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-6 col-lg-6  bottommargin col_last">

                <div class="heading-block topmargin">
                    <h2>RomanianIT 2.0 - Open Discussion Forum</h2>
                    <span>Great ideas emerge when leaders are brought together for an open dialogue!</span>
                </div>

                <p>
                    The goal of the event is to identify the best ways to engage the Romanian IT Diaspora.

                    You should join us if you are interested in:
                    -developing your business abroad
                    -finding out more about the life of Romanian IT professionals and entrepreneurs from the Diaspora
                    -learning more about the benefits of having a global network of IT professionals and how you can grow yourself by growing others
                    -finding out how to leverage the power of the community

                    Location: ClujHub, Strada Pitești 19, Cluj-Napoca

                </p>

            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 bottommargin-lg topmargin">
                <img data-animate="fadeInLeftBig" src="/bundles/website/images/cluj-event/speakers.png" alt="Find my mentor" class="fadeInLeftBig animated">
            </div>

            <div class="line"></div>

        </div>
    </div>

    <section class="motive-mentee">
        <div class="container">
            <div class="heading-block center">
                <h2>EVENT <span class="red">AGENDA</span></h2>
            </div>

            <div class="heading-block center">
                <h2></h2>
                <span>Part I </span>
            </div>
            <div class="row clearfix">

                <div class="col-md-offset-4 col-lg-offset-3 col-md-6">
                    <div class="motiv-mentee">
                        <ul class="iconlist">
                            <li><i class="icon-ok-sign"></i>17:00 - 17:20 | Registration & networking</li>
                            <li><i class="icon-ok-sign"></i>17:20 - 17:30 | Opening remarks & welcome message</li>
                            <li><i class="icon-ok-sign"></i>17:30 - 17:40 | Romanian IT 2017 activity summary [Speaker : Romanian IT Co-Founder]</li>
                            <li><i class="icon-ok-sign"></i>17:40 - 18:00 | Romanian IT 2018 plans and vision [Speaker : Romanian IT Co-Founder]</li>
                            <li>Topics : Presentation of the “Romanian IT Delegations” program in collaboration with US
                                Embassy</li>
                            <li><i class="icon-ok-sign"></i>18:00 - 18:20 | Networking</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="heading-block center">
                    <h2></h2>
                    <span>Part II  (Panels)</span>
                </div>

                <div class="col-md-6 ">
                    <div class="motiv-mentee">
                        <h3><span>1st</span> Panel:</h3>
                        <p>18:20 - 18:50 | Panel talk</p>
                        <span>Discussion topic : The Romanian IT Diaspora - a growth partner Participants:</span>
                        <ul class="iconlist">
                            <li><i class="icon-ok-sign"></i>Joshua Burke: US Embassy Commercial Attache</li>
                            <li><i class="icon-ok-sign"></i>Johann Stan: Patent Examiner @ European Patent Office</li>
                            <li><i class="icon-ok-sign"></i>Andrei Mocan: BRCC Director in Romania, Delivery Partner @ Endava</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="motiv-mentee">
                        <h3><span>2nd</span> Panel:</h3>
                        <p>18:50 - 19:20 | Panel talk</p>
                        <span>Discussion topic : The Romanian IT Diaspora - a project partner Participants:</span>
                        <ul class="iconlist">
                            <li><i class="icon-ok-sign"></i>Diana Rusu: CEO @ Sperik Accelerator</li>
                            <li><i class="icon-ok-sign"></i>Corina Simon: specialist dezvoltare internationala, ARCADIA member</li>
                            <li><i class="icon-ok-sign"></i>Paul Brie: Head of R&D and JavaScript Development, Evozon</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-offset-4 col-lg-offset-3 col-md-6  ">
                    <div class="motiv-mentee">
                        <ul class="iconlist">
                            <li><i class="icon-ok-sign"></i>19:20 - 19:30 | Q&A + open talk</li>
                            <li><i class="icon-ok-sign"></i>19:30 - 19:35 | Closing remarks</li>
                            <li><i class="icon-ok-sign"></i>19:35 - 20:00| Networking</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="heading-block center">
                    <h2></h2>
                    <span>Part III (networking & private dinner)</span>
                </div>

                <div class="col-md-offset-4 col-lg-offset-3 col-md-6  ">
                    <ul class="iconlist">
                        <li><i class="icon-ok-sign"></i>20:00 - 22:00 | Private dinner (US Embassy representatives, speakers, business owners)</li>
                    </ul>
                </div>
            <div class="line"></div>
        </div>

    </section>

    <section class="motive-mentor">
        <div class="container">
            <div class="heading-block center">
                <h2>AFTER <span class="red">MOVIE</span></h2>
                <span>We invite you to watch the after movie of our event. </span>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-lg-offset-3 col-md-6  ">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/27e5Cctqwqw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

{% endblock %}