{% extends "WebsiteBundle::Structure/new_layout.html.twig" %}

{% block content %}
    <section id="slider" class="hero slider-parallax force-full-screen full-screen">
        <div class="slider-parallax-inner">
            <div class="force-full-screen full-screen dark" style="background: url('/bundles/website/images/bgs/hero-bg.jpg')center center; background-size: cover;">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-center">
                        <h1 data-animate="fadeInDown">Coming soon</h1>
                        <h2 data-animate="fadeInUp" data-delay="400">
                            We are working hard to get our new platform ready
                            this autumn!
                        </h2>
                        <h4 data-animate="fadeInUp" data-delay="400">
                            In the meantime register as a member to stay updated<br>
                            and to find out first when the new website is up and running!
                        </h4>

                        <a href="{{ path('website_register_member') }}" class="button button-desc button-3d button-rounded center" style="background-color: rgb(238, 37, 23); margin-top: 30px;">
                        <div>Become a member</div>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Content
    ============================================= -->

    <!-- Harta -->
    <section id="content">

        <div class="content-wrap">

            <!-- Misiune -->
            <section id="section-misiune" class="page-section">

                <div class="container clearfix">
                    <div class="heading-block center">
                        <h2>We believe connection powers #growth  </h2>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <p class="text-center important">
                                We are connecting the Romanian<br> startup and tech ecosysytem around the globe
                            </p>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <p class="text-center">
                                Our goal is to connect the Romanian Startup and Tech community all over the world
                                <br>in order to facilitate their access to know-how, mentors, investors, jobs and a
                                <br>business network.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            {{ render(controller("WebsiteBundle:Default:contact")) }}
        </div>
    </section>
{% endblock %}

{% block footer_scripts %}
{{ parent() }}

    <script src='https://www.google.com/recaptcha/api.js'></script>


    {{  render(controller( 'WebsiteBundle:Default:membersMap' )) }}

<script>
    $( document ).ready(function() {

        if ($('#map').length){
            google.maps.event.addDomListener(window, 'load', newMap('map', false));
        }

    });
</script>
{% endblock %}