{% extends "WebsiteBundle::Structure/layout.html.twig" %}

{% block menu_class %} navbar-shrink {% endblock %}

{% block content %}

    <section class="tcenter" style="padding: 150px 0px; background-image: url('/bundles/website/images/mentorship/banner-mentorship.jpg'); background-size: content; background-position: top center; background-repeat: no-repeat;" data-stellar-background-ratio="0.4">

        <div class="mentorship-hero">
            <div class="container clearfix">
                <h1 class="red uppercase">Find my mentor</h1>
                <h2 class="white">Start shapping <span class="inline-block red bold"> your own</span> future</h2>

                <a target="_blank" href="https://docs.google.com/forms/d/14swJ4HICAhJVHvmLP7Pb_0Pi6EGJpCfSfQsl5Q4FwX0/viewform?edit_requested=true" class="button button-desc button-border button-rounded center">
                    <div>Participa la acest program<span>Mentor, mentee sau echipa de organizare</span></div>
                </a>
            </div>
        </div>
    </section>

    <section class="lsrs tcenter">
        <div class="container">
            <h3>
                Program Romanian IT realizat in colaborare cu <a href="www.lsrs.ro">LSRS</a>
            </h3>
        </div>
        <hr>
    </section>

    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-6 col-lg-6  bottommargin col_last">

                <div class="heading-block topmargin">
                    <h2>Find my mentor</h2>
                    <span>Start shaping your own future</span>
                </div>

                <p><span class="bold">Find my mentor</span>, este un program menit sa conecteze studenti, tineri profesionisti, seniori si antreprenori din domeniul IT cu mentori din comunitatile globale <span class="bold">Romanian IT</span> si <span class="bold">LSRS</span>, specialisti, antreprenori si alumni care doresc sa impartaseasca din knowhow-ul lor personal si profesional.
                </p>

                <p>Scopul programului este de a <span class="bold">facilita transferul de know-how la nivel international intre membrii comunitatilor</span> si de a crea o cultura bazata pe knowledge exchange, educatie si colaborare pentru a consolida si promova comunitatea IT romaneasca.

                </p>

                <p class="bold">Acesta initiativa se va concretiza într-o platforma online care sa permita participarea in program tuturor membrilor comunitatii, la nivel global.</p>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 bottommargin-lg topmargin">
                <img data-animate="fadeInLeftBig" src="/bundles/website/images/mentorship/concept.jpg" alt="Find my mentor" class="fadeInLeftBig animated">
            </div>

            <div class="line"></div>

        </div>
    </div>

    <section class="adreseaza">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6  col-lg-6 ">
                    <div class="heading-block ">
                        <h2>Cui se adreseaza?</h2>
                    </div>
                    <p>Programul <span class="bold">"Find my mentor" </span> este dedicat membrilor comunitatii <span class="bold">Romanian IT</span>, membrilor <span class="bold">LSRS</span> care activeaza in domeniul IT si ale
                        <pan class="bold">oricaror alte organizatii romanestic cu profil tehnic</pan>.
                    </p>
                    <p>Studentii, tineri profesionisti, antreprenorii la inceput de drum au deseori nevoie de sfarturi si indrumare, fie pentru alegerea unei cariere, pentru a-si dezvolta abilitatile profesionale si personale sau de leadership.
                    </p>
                    <p>Acest program le permite menteelor sa discute despre telurile lor profesionale cu experti in domeniu si sa invete din experienta si provocarile celor care deja au parcurs trasee vocationale similare.</p>
                </div>


                <div class="col-sm-12 col-md-6  col-lg-6 ">
                    <h3 class="uppercase">
                        Grup tinta <span class="bold red">mentee</span>
                    </h3>

                    <ul class="iconlist">
                        <li><i class="icon-ok-sign"></i>Studenti</li>
                        <li><i class="icon-ok-sign"></i>Tinerilor profesionisti</li>
                        <li><i class="icon-ok-sign"></i>Specialisti care doresc sa faca pasul catre antreprenoriat</li>
                        <li><i class="icon-ok-sign"></i>Specialisti care vor sa faca pasul catre managementul unei echipe antreprenorilor la inceput de drum</li>
                    </ul>
                    <hr>
                    <h3 class="uppercase">
                        Grup tinta <span class="bold red">mentori</span>
                    </h3>

                    <ul class="iconlist">
                        <li><i class="icon-ok-sign"></i>Studenti</li>
                        <li><i class="icon-ok-sign"></i>Specialisti</li>
                        <li><i class="icon-ok-sign"></i>Profesori</li>
                        <li><i class="icon-ok-sign"></i>Project managers</li>
                        <li><i class="icon-ok-sign"></i>Antreprenori</li>
                        <li><i class="icon-ok-sign"></i>Alumni LSRS</li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
        </div>
    </section>


    <section class="motive-mentee">
        <div class="container">
            <div class="heading-block center">
                <h2>De ce sa particip ca <span class="red">mentee</span></h2>
                <span>Studentii, tinerii profesionisti, antreprenorii la inceput de drum au deseori nevoie de sfarturi si indrumare</span>
            </div>

            <div class="row clearfix">

                <div class="col-md-6 ">
                    <div class="motiv-mentee">
                        <h3>Sunt <span>student</span></h3>
                        <ul class="iconlist">
                            <li><i class="icon-ok-sign"></i>Am nevoie de ajutor pentru alegerea carierei
                            </li>
                            <li><i class="icon-ok-sign"></i>Am nevoie de ajutor pentru a alege o specializare</li>
                            <li><i class="icon-ok-sign"></i>reau sa inteleg mai bine cultura corporatista
                            </li>
                            <li><i class="icon-ok-sign"></i>Am nevoie de ghidare tehnica</li>
                            <li><i class="icon-ok-sign"></i>Vreau sa ma pregatesc pentru a face primii pasi catre antreprenoriat
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="motiv-mentee">
                        <h3>Sunt <span>tanar profesionist</span></h3>
                        <ul class="iconlist">
                            <li><i class="icon-ok-sign"></i>Am nevoie de ghidare tehnica
                            </li>
                            <li><i class="icon-ok-sign"></i>Am nevoie de ghidare pentru a deveni un project manager</li>
                            <li><i class="icon-ok-sign"></i>Vreau sa ma pregatesc pentru a face primii pasi catre antreprenoriat
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6 ">
                    <div class="motiv-mentee">
                        <h3>Sunt <span>specialist</span></h3>
                        <ul class="iconlist">
                            <li><i class="icon-ok-sign"></i>Am nevoie de ghidare pentru a devenit un project manager

                            </li>
                            <li><i class="icon-ok-sign"></i>Am nevoie de ghidare tehnica la nivel senior</li>
                            <li><i class="icon-ok-sign"></i>Vreau sa ma pregatesc pentru a face primii pasi catre antreprenoriat

                            </li>
                            <li><i class="icon-ok-sign"></i>Vreau sa invat cum sa conduc o echipa - leadership
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="motiv-mentee">
                        <h3>Sunt <span>antreprenor</span></h3>
                        <ul class="iconlist">
                            <li><i class="icon-ok-sign"></i>Vreau sa invat cum sa conduc o echipa - leadership

                            </li>
                            <li><i class="icon-ok-sign"></i>Vreau sa ma pregatesc pentru a face primii pasi catre antreprenoriat
                            </li>
                            <li><i class="icon-ok-sign"></i>Vreau sa inteleg ce inseamna sa ai propria ta afacere
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="line"></div>
        </div>

    </section>




    <section class="motive-mentor">
        <div class="container">
            <div class="heading-block center">
                <h2>De ce sa particip ca <span class="red">mentor</span></h2>
                <span>Exista multe beneficii asociate cu pozitia de mentor, insa noi credem ca cea mai importanta este de a ajuta pe cineva sa isi atinga potentialul. </span>
            </div>
        </div>

        <div class="container">

            <div class="col-sm-12 col-md-6 col-lg-6 bottommargin-lg topmargin-sm">
                <img data-animate="fadeInLeftBig" src="/bundles/website/images/mentorship/mentor.jpg" alt="Find my mentor" class="fadeInLeftBig animated">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6  topmargin-sm bottommargin">
                <p>Exista si alte beneficii destinate persoanelor care isi doresc sa devina mentori in cadrul acestui program:
                </p>


                <p>Consolidarea și extinderea rețelelor profesionale și personale Satisfacția de a contribui la succesul viitor al unei persoane</p>
                <p>O mai buna intelegere a generatiei viitoare de profesionisti si antreprenori
                </p>
                <p>Dezvoltarea personală – mentorii raportează adesea că învață la fel de mult și uneori, chiar mai mult decât cei pe care îi susțin</p>
                <p>Conectarea cu talente noi din domeniul IT
                </p>
            </div>
            <div class="line"></div>
        </div>
    </section>


    <section class="implicare">
        <div class="container">
            <div class="heading-block center">
                <h2>cum pot sa ma implic?</h2>
                <span>Exista multe beneficii asociate cu pozitia de mentor, insa noi credem ca cea mai importanta este de a ajuta pe cineva sa isi atinga potentialul. </span>
            </div>
        </div>

        <div class="container">

            <img src="/bundles/website/images/mentorship/implic.jpg" alt="Cum pot sa ma implic" class="bottommargin-lg">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h2 class="uppercase">
                        Echipa <span class="red">tehnica</span>
                    </h2>
                    <p class="bold">
                        Echipa tehnica „Find my mentor” se ocupa de construirea platformei online care va sta la baza acestui program.
                    </p>
                    <p>Vei avea ocazia sa contribui la dezvoltarea unui proiect cu impact social pozitiv pentru comunitatea noastra si sa faci parte dintr-o echipa echipa globala si inovativa.</p>
                    <p>
                        Vei avea ocazia sa lucrezi cu profesionisti IT worldwide, sa inveti si sa te dezvolti alaturi de oameni talentati. </p>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h2 class="uppercase">
                        Echipa de <span class="red">management</span>
                    </h2>
                    <p class="bold">
                        Echipa de management „Find my mentor” se are rolul de a gestiona comunitatea de voluntari.

                    </p>
                    <p>Vei avea ocazia sa vezi cum functioneaza un program global si sa ajuti numeroase persoane sa isi gaseasca calea spre succes.
                    </p>
                    <p>
                        Vei fi inconjurat de oameni talentati si creativi care vor sa aiba un impact social pozitiv si vei invata cat este de important sa gandesti la nivel global. </p>
                </div>
            </div>
        </div>
    </section>

    <section class="topmargin-lg" style="padding: 150px 0px; background-image: url('/bundles/website/images/mentorship/contact.jpg'); background-size: content; background-position: top center; background-repeat: no-repeat;" data-stellar-background-ratio="0.4">

        <div class="mentorship-contact">
            <div class="container clearfix">
                <h2 class="white">It's time to start shapping <span class="inline-block red bold"> your own</span> future</h2>

                <a target="_blank" href="https://docs.google.com/forms/d/14swJ4HICAhJVHvmLP7Pb_0Pi6EGJpCfSfQsl5Q4FwX0/viewform?edit_requested=true" class="button button-desc button-border button-rounded center">
                    <div>Participa la acest program<span>Mentor, mentee sau echipa de organizare</span></div>
                </a>
            </div>
        </div>
    </section>
{% endblock %}