<div class="row clearfix bottommargin-lg common-height">

    <div class="col-md-3 col-sm-6 dark center col-padding" style="background-color: #515875;">
        <div>
            <i class="i-plain i-xlarge divcenter icon-line2-graph"></i>
            <div class="counter counter-lined"><span data-from="0" data-to="{{ members }}" data-refresh-interval="10" data-speed="2000"></span></div>
            <h5>Membri</h5>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 dark center col-padding" style="background-color: #576F9E;">
        <div>
            <i class="i-plain i-xlarge divcenter icon-line2-directions"></i>
            <div class="counter counter-lined"><span data-from="0" data-to="{{ centers }}" data-refresh-interval="10" data-speed="2500"></span></div>
            <h5>Centre</h5>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 dark center col-padding" style="background-color: #6697B9;">
        <div>
            <i class="i-plain i-xlarge divcenter icon-line2-clock"></i>
            <div class="counter counter-lined"><span data-from="0" data-to="{{ events }}" data-refresh-interval="10" data-speed="3500"></span></div>
            <h5>Evenimente</h5>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 dark center col-padding" style="background-color: #88C3D8;">
        <div>
            <i class="i-plain i-xlarge divcenter icon-line2-layers"></i>
            <div class="counter counter-lined"><span data-from="0" data-to="{{ projects }}" data-refresh-interval="10" data-speed="2700"></span></div>
            <h5>Proiecte</h5>
        </div>
    </div>

</div>