{% extends "WebsiteBundle::Structure/layout.html.twig" %}

{% block menu_class %} navbar-shrink {% endblock %}

{% block nav_bar_menu %}
    <ul class="one-page-menu">
        <li>
            <a class="page-scroll" href="{{ path('website_homepage') }}">{{ 'menu.home' | trans() }}</a>
        </li>
        <li>
            <a class="page-scroll" href="{{ path('website_projects_list') }}">{{ 'menu.projects' | trans() }}</a>
        </li>
    </ul>
{% endblock %}

{% block content %}

    <section id="page-title">
        <div class="container clearfix">
            <h1>Termeni și condiții</h1>
            <span></span>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Termeni și condiții</li>
            </ol>
        </div>
    </section>

    <div class="container clearfix bottommargin">
        <div class="row clearfix ">
            <div class="col-lg-12">
                <div class="heading-block topmargin">
                    <h3>1. TERMENI GENERALI</h3>
                </div>
                <p>Site-ul ROMANIANIT.com este un serviciu gratuit furnizat ca atare de catre ROMANIANIT GLOBAL COMMUNITY ONG, cu sprijinul colaboratorilor si partenerilor sai, si care va fi numita in continuare ROMANIANIT. </p>

                <p>ROMANIANIT.com este un site de limba romana – canal interactiv de media – creat, dezvoltat si operat de ROMANIANIT ONG, si caruia i se aplica urmatorii Termeni de Utilizare care includ, dar fara a se limita la acestea, toate textele, pozele, uneltele interactive, testele online, produsele digitale, evenimentele, avatarul, paginile personale, jurnalele online, forumurile, felicitarile, recomandarile si concursurile publicate in toate paginile site-ului. Segmente ale site-ului sunt vizibile si pentru utilizatorii care vizualizeaza site-ul, insa anumite sectiuni, precum facilitatile din Contul meu sau Forumul pot fi vizualizate numai prin autentificarea pe site cu nume de utilizator si parola. Odata inregistrat pe site-ul ROMANIANIT.com veti beneficia gratuit de toate serviciile si informatiile puse la dispozitie pe acest site.</p>

                <p>In momenul autentificarii cu contul si parola individuale, acceptati sa va supuneti acestor termeni de utilizare a site-ului, indiferent de sectiunea pe care o vizitati in site sau de actiunea pe care doriti sa o intreprindeti prin intermediul paginilor www.ROMANIANIT.com, si acceptati posibilitatea ca pe viitor acesti termeni sa se modifice fara vreun anunt prealabil.</p>

                <p>ROMANIANIT.com nu va fi tinut responsabil pentru orice incalcare a acestor Termeni de Utilizare. Daca nu sunteti de acord cu continutul prezentului document va rugam sa nu va inregistrati pe acest site si sa nu ii utilizati serviciile, oricare ar fi acestea. Va rugam ca de fiecare data cand reveniti pe acest site sa verificati daca Termenii de utilizare au fost modificati. Daca schimbarile eventuale din Termenii de Utilizare ai Site-ului nu sunt conforme cu dorintele dumneavoastra va rugam notificati acest lucru in cel mai scurt timp posibil proprietarului site-ului, ROMANIANIT ONG, la adresele de contact disponibile in acest document, ROMANIANIT urmand sa intrerupa accesul dumneavoastra prin cont la serviciile site-ului. Utilizarea in continuare a site-ului valoreaza acceptarea de catre dumneavoastra a acestor Termeni de Utilizare.</p>

                <p>Accesul dumneavoastra la acest site desemneaza acordul cu termenii de utilizare prezentati in acest document. Accesul neautorizat, distributia, reproducerea, copierea, restransmiterea, publicarea, vanzarea, utilizarea comerciala sub orice forma, sau oricare alt tip de transfer a oricarei parti din site-ul ROMANIANIT.com, inclusiv dar fara a se limita la acesta, tot continutului, serviciile, produsele digitale, evenimentele, facilitatile contului sunt prin prezenta strict interzise.</p>

                <p>ROMANIANIT.com isi rezerva dreptul sa completeze si/sau sa modifice acesti Termeni de Utilizare cu Termeni Aditionali care se vor publica in pagina serviciului corespunzator caruia acei termeni li se aplica. Prin prezenta sunteti de acord ca acesti Temeni Aditionali fac parte din Termenii generali de Utilizare si se supun acelorasi reguli.</p>


                <h3>2. INFORMATII DESPRE INREGISTRAREA PE SITE / CONFIDENTIALITATE</h3>
                <h4>Date de contact. Colectare si modificare.</h4>
                <p>
                    La inregistrarea in site vi se vor cere anumite date personale precum numele si prenumele, adresa de e-mail, data nasterii dar si alte informatii cu caracter personal. Sunteti singurul responsabil de datele privind contul de utilizator creat pe ROMANIANIT.com. De aceea, pentru confirmarea datelor si contului, veti fi anuntati la adresa de e-mail pe care ati declarat-o la crearea contului dumneavoastra. Acest e-mail de confirmare are rolul stoparii actiunilor frauduloase a unor utilizatori care folosesc adrese de e-mail ale altor persoane pentru a crea conturi fictive. Daca primiti un asemenea mesaj, in conditiile in care nu v-ati inregistrat personal pe site va rugam sa ne trimiteti un e-mail la adresa office@romanianit.com pentru a sterge contul respectiv.
                </p>
                <p>
                    Formularul de profil al utilizatorului contine campuri care pot fi editate in cazul in care doriti sa modificati sau sa completati datele pe care le-ati furnizat la crearea contului. Daca insa doriti sa renuntati la contul dumneavoastra complet si la orice facilitate de pe site-ul ROMANIANIT.com va rugam sa scrieti un e-mail la office@romanianit.com.
                </p>
                <p>
                    De asemenea, pentru personalizarea serviciilor oferite de ROMANIANIT.com se inregistreaza automat, prin asa numitele cookie-uri, date privind vizita dumneavoastra pe site, cum ar fi adresa de IP de la care ati vizitat site-ul, lungimea vizitei, paginile vizitate. Odata colectate aceste date la intoarcerea pe site putem memora optiunile anterioare, oferindu-va un acces mult mai facil si mai direct la informatiile care va intereseaza. ROMANIANIT.com dispune de metode tehnice care permit colectarea in cat mai mare siguranta a acestor date, insa trebuie sa stiti ca furnizarea datelor se face pe propria dumneavoastra raspundere. Exista browsere care nu accepta utilizarea de cookie-uri. ROMANIANIT.com nu isi asuma responsabilitatea pentru datele furnizate prin aceste browsere.
                </p>
                <p>
                    Prin crearea unui cont pe site-ul ROMANIANIT.com, utilizatorii isi manifesta acordul expres de a primi notificari din partea ROMANIANIT.com cu privire la noi facilitati si servicii lansate, materiale promotionale din partea unor terte companii, inlcusiv site-uri partenere. ROMANIANIT.com nu isi asuma nici o responsabilitate pentru continutul site-urilor partenere, a continutului materialelor promotionale apartinand companiilor terte sau a politicilor lor de confidentialitate.
                </p>
                <p>
                    In cazul folosirii serviciilor de creare de continut propriu si utilizare/retrimetere a acestuia, puse la dispozitie de catre ROMANIANIT.com, utilizatorii isi asuma in totalitate faptele proprii si consecintele acestora.
                </p>
                <p>
                    ROMANIANIT.com isi rezerva dreptul de a desfiinta, fara aviz prealabil, conturile si accesul membrilor care incalca Termenii de Utilizare a site-ului, conform cu acest document.
                </p>

                <h4>
                    Utilizarea datelor cu caracter personal colectate.
                </h4>
                <p>
                    Informatiile furnizate de utilizatori prin intermediul formularului de inregistrare urmeaza a fi folosite in scopul direct al personalizarii si imbuntatirii serviciilor oferite de ROMANIANIT.com. Informatiile colectate prin cookie-uri, ajuta nu numai la imbunatatirea serviciilor dar si la asigurarea unui nivel minim de siguranta a datelor si a serviciilor furnizate pe site.
                </p>
                <p>
                    ROMANIANIT.com face parte dintr-o retea de media interactiva, de aceea este posibil ca pe site sa existe, fara a se limita la acestea, inclusiv bannere sau concursuri, care sa apartina unor terte companii. Acestea pot colecta prin cookie-uri aceleasi informatii pe care le colecteaza si ROMANIANIT.com. Acolo unde se aplica, in paginile de colectare a datelor cu caracter personal de catre terte companii, vor exista linkuri catre Politica de Confidentialitate a acestora, dar ROMANIANIT.com nu isi asuma nici o responsabilitate pentru continutul site-urilor partenere sau a politicilor lor de confidentialitate.
                </p>
                <p>
                    ROMANIANIT.com va transmite aceste informatii cu caracter personal si atunci cand legea prevede expres acest lucru sau cand este necesar pentru protejarea drepturilor si intereselor ROMANIANIT.com.
                </p>

                <h4>
                    Drepturile utilizatorilor cu privire la prelucrarea datelor cu caracter personal
                </h4>

                <p>
                    Legea nr. 677/2001 si Legea 298/2008 reglementeaza drepturile utilizatorilor in ce priveste utilizarea de catre site-uri ale datelor cu caracter personal. Astfel, detinatorii de conturi pe site-ul ROMANIANIT.com au urmatoarele drepturi:
                </p>

                <ul>
                    <li>dreptul la informare</li>
                    <li>dreptul la acces la date</li>
                    <li>dreptul de interventie</li>
                    <li>dreptul de opozitie</li>
                    <li>dreptul de a nu fi supus unei decizii individuale</li>
                    <li>dreptul de a se adresa justitiei</li>
                    <li>dreptul sa faca plangere la autoritatea de supraveghere</li>
                </ul>

                <p>
                Pentru exercitarea acestor drepturi, utilizatorii pot face o cerere in scris cu cerinta lor, pe care sa o trimita apoi fie prin posta scrisa la adresa Str. Judetului nr. 17, Bl.20, Ap.59, Bucuresti, Sector 2, Romania, “Pentru Echipa ROMANIANIT.com”, fie prin e-mail la adresa office@romanianit.com.
                </p>

                <h3>3. POLITICA DE COPYRIGHT</h3>
                <h4>Categorii de continut</h4>

                <p>
                    Continutul si elementele de grafica ale site-ului ROMANIANIT.com, inclusiv dar fara a se limita la acestea, tot continutul video si audio, precum si sursele tehnice ale tuturor serviciilor si facilitatilor prezente si viitoare, cu exceptia cazului cand este mentionat expres un alt proprietar, sursele paginilor dar si orice alt material, transmis sub orice forma catre utilizatori (prin vizualizare directa pe site, prin newslettere sau campanii promotionale atc) apartin ROMANIANIT.com si partenerilor sai si reprezinta Continutul ROMANIANIT.com.
                </p>
                <p>
                    In completare, site-ul beneficiaza de contributia membrilor sai inregistrati, indiferent de forma in care contribuie (de exemplu prin articole, comentarii, fotografii etc). Echipa ROMANIANIT.com selecteaza continutul primit de la membrii site-ului cat mai mult posibil, pentru a mentine un grad inalt de calitate a site-ului. Colaboratorii si membri inregistrati ai site-ului ROMANIANIT.com sunt de acord sa cedeze exclusiv, in momentul trimiterii, toate drepturile de utilizarea, adaptare si modificare si retransmitere a continutului cu care au contribuit la site-ul ROMANIANIT.com. Site-ul ROMANIANIT tine in exclusivitate, indiferent din ce sectiune, serviciu sau facilitate face parte respectivul continut.
                </p>


                <h4>Utilizarea continutului</h4>

                <p>
                    Continutul ROMANIANIT.com, indiferent de zona in care se afla in site si indeferent de tip, poate fi utilizat exclusiv in scopuri personale. Orice utilizare de continut de catre terte persoane in scop comercial, se poate face numai cu acordul scris si expres al ROMANIANIT.com. Acordul scris se cere pentru:
                </p>
                    <ul>
                        <li>
                            reproducerea sau stocarea Continutului ROMANIANIT.com, precum si trimiterea acestui continut catre orice alt website, server sau orice alt mijloc de stocare a informatiei.
                        </li>
                        <li>
                            modificarea, publicarea, transmiterea, precum si participarea la transferul, vanzarea, distributia unor materiale realizate prin reproducerea, modificarea sau afisarea Continutului ROMANIANIT.com, in lipsa obtinerii in prealabil a unei permisiuni scrise din partea ROMANIANIT.com.
                        </li>
                        <li>
                            indepartarea insemnelor care semnifica dreptul de autor al ROMANIANIT.com asupra Continutului site-ului ROMANIANIT.com.
                        </li>
                    </ul>

                <p>
                    In oricare dintre cazurile contrare, ROMANIANIT ONG isi rezerva dreptul de a actiona in instanta, in virtutea Legii nr. 8/1996 privind dreptul de autor si drepturile conexe, pe cei care se fac vinovati de incalcarea prevederilor copywrightului.
                </p>
                <p>
                    Orice utilizare a continutului ROMANIANIT.com, alta decat cea mentionata expres in acesti Termeni de Utilizare este strict interzisa. Cererile de utilizare a continutului ROMANIANIT.com in orice scop pentru care se cere acordul expres pot fi facute in scris la adresa office@romanianit.com.
                </p>

                <h3>4. REGULI DE TRANSMITERE SI UTILIZARE A CONTINUTULUI MEMBRILOR INREGISTRATI</h3>

                <p>
                    ROMANIANIT.com este o comunitate unde membrii inregistrati beneficiaza de o gama larga de servicii facilitati, prin care pot intearctiona adaugand continut propriu. La trimiterea unui astfel de continut, indiferent de tipul acestuia – text, imagini, fisiere video/audio – trebuie avute in vedere urmatoarele limitari:
                </p>
                <ol>
                    <li>
                        nu puteti publica, transmite sau face referire in nici un fel la mesaje care contin texte ilegale, amenintatoare, abuzive, indecente, care incalca in oprice fel dreptul de autor sau alte drepturi pe care le are un tert.
                    </li>
                    <li>
                        nu puteti publica, face referire sau retransmite mesaje al caror continut reprezinta publicitate mascata la orice servicii si produse
                    </li>
                    <li>
                        nu puteti colecta datele personale ale celorlalti utilizatori ai site-ului ROMANIANIT.com si nici nu puteti restrictiona accesul altor membri la diferite zone sau tipuri de continut din site-ul ROMANIANIT.com
                    </li>
                    <li>
                        nu puteti publica sau trasmite sub nici o forma mesaje care sa contina virusi informatici sau secvente de cod care ar putea prejudicia buna functionare a site-ului ROMANIANIT.com
                    </li>
                </ol>

                <p>
                    Prin transmiterea de continut care nu este in acord cu limitarile mai sus mentionate, sunteti de acord cu faptul ca sunteti singurul responsabil si veti despagubi ROMANIANIT.com in cazul producerii vreunui prejudiciu.
                </p>

                <p>
                Serviciile interactive, de tip chat, comentarii, forum, dar si orice alta forma de comunicare intre membrii site-ului, sunt proprietatea celor care le publica, iar ROMANIANIT.comnu poate si nu garanteaza sub nici o forma calitatea, acuratetea si integritatea continutului transmis prin intermediul acestor forme de comunicare.
                </p>
                <p>
                ROMANIANIT isi rezerva dreptul de a face publice, insa doar membrilor sai, informatiile legate de numele, studiile si emailul utilizatorilor www.ROMANIANIT.com. Aceste informatii fac parte din registrul studentilor si absolventilor romani din straintate, accesibil doar membrilor ROMANIANIT, numai in scopul facilitarii comunicarii intre ei, oriune s-ar afla in lume. De asemenea, ROMANIANIT isi rezerva dreptul de a colabora cu angajatori romani si straini si de a pune in contact membri ROMANIANIT cu posibile oferte de angajare, in mediul academic sau profesional. Aceasta este de asemenea spre beneficiul membrilor ROMANIANIT si se rezuma numai la organizatiile cu care ROMANIANIT are o colaborare prestabilita.
                </p>

                <h3>5. LIMITAREA RASPUNDERII</h3>

                <p>
                    ROMANIANIT.com nu poate garanta implicit sau expres, pentru continutul de pe site, pentru continutul oferit de partenerii sai sau de membri inregistrati. ROMANIANIT.com nu isi asuma raspunderea in nici un caz, pentru nici o dauna, pricinuita direct sau indirect de date, informatii, imagini colectate de pe ROMANIANIT.com. De asemenea, ROMANIANIT.com nu garanteaza acuratetea, corectitudinea sau caracterul actual al continutului ori serviciilor furnizate de site. De asemenea, ROMANIANIT.com nu garanteaza faptul ca sistemele informatice sau programele folosite pentru afisarea sau transmiterea informatiei pe site sau in orice alta forma nu contin virusi ori alte surse distructive de cod sau alte proprietati distructive.
                </p>
                <p>
                    Prin prezenta sunteti de acord sa exonerati de raspundere site-ul ROMANIANIT.com pentru orice actiune judiciara sau extrajudiciara, care provine ca urmare a neutilizarii corecte sau frauduloase a site-ului.
                </p>
                <p>
                    Pentru caz de forta majora, ROMANIANIT.com impreuna cu colaboratorii sai, este exonerat total de raspundere. Cazurile de forta majora includ, dar nu se limiteaza la, erori de functionare ale echipamentului tehnic de la ROMANIANIT.com, lipsa functionarii conexiunii la internet, lipsa functionarii conexiunilor de telefon, virusii informatici, accesul neautorizat in sistemele ROMANIANIT.com, erorile de operare, greva, etc.
                </p>
                <p>
                    ROMANIANIT.com isi rezerva dreptul de a modifica oricand, in orice imprejurare, acesti Termeni de Utilizare, fara un aviz prealabil. Este recomandat sa reveniti in aceasta pagina de cel putin o data pe luna, ca sa puteti afla in timp util de orice modificare adusa termenilor de Utilizare.
                </p>

                <h3>6. LITIGII</h3>
                <p>
                    Drepturile si obligatiile utilizatorilor site-ului si toate efectele juridice pe care acceptarea le produce, sunt guvernate de legea romana in vigoare si vor fi analizate si judecate, de catre instanta romana.
                </p>
            </div>
        </div>
    </div>



{% endblock %}


