{% extends "WebsiteBundle::Structure/layout.html.twig" %}

{% block menu_class %} navbar-shrink {% endblock %}


{% block nav_bar_menu %}
    <ul class="one-page-menu">
        <li>
            <a class="page-scroll" href="{{ path('website_homepage') }}">{{ 'menu.home' | trans() }}</a>
        </li>
        <li>
            <a class="page-scroll" href="{{ path('website_projects_list') }}">{{ 'menu.projects' | trans() }}</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <!-- Contact Section -->
    <section id="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Propune o idee de proiect</h2>
                    <h3 class="section-subheading text-muted">Ai o sugestie sau o idee de proiect, sau vrei pur si simplu să te implici? Scrie-ne și revenim în cel mai scurt timp posibil. </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nume Prenume *" id="name" required data-validation-required-message="Vă rugăm introduceți numele.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email *" id="email" required data-validation-required-message="Vă rugăm introduceți adresa de e-mail.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Profesie *" id="email" required data-validation-required-message="Vă rugăm introduceți profesia d-str[.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Telefon" id="phone" required data-validation-required-message="Vă rugăm introduceți corect numărul de telefon.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea rows="8" class="form-control" placeholder="Descrierea proiectului propus *" id="message" required data-validation-required-message="Vă rugăm introduceți un mesaj."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Trimite</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer_scripts %}{% endblock %}