{#<div class="row clearfix common-height">#}

    {#<div class="col-md-6 center col-padding" style="background: url('/bundles/website/images/main-bg.jpg') center center no-repeat; background-size: cover;">#}
        {#<div>&nbsp;</div>#}
    {#</div>#}

    {#<div class="col-md-6 center col-padding" style="background-color: #F9F9F9;">#}
        {#<div>#}
            {#<div class="heading-block nobottomborder">#}
                {#<span class="before-heading color">Află de ce ar trebui să ni te alături</span>#}
                {#<h3>Prezentare proiect Romanian IT</h3>#}
            {#</div>#}

            {#<div class="center bottommargin">#}
                {#<a href="https://youtu.be/2wEfTmFq2dY" data-lightbox="iframe" style="position: relative;">#}
                    {#<img src="{{ asset('bundles/website/images/video.jpg') }}" alt="Video">#}
                    {#<span class="i-overlay nobg"><img src="{{ asset('bundles/website/images/icons/video-play.png') }}" alt="Play"></span>#}
                {#</a>#}
                {#<iframe width="560" height="315" src="https://www.youtube.com/embed/2wEfTmFq2dY" frameborder="0" allowfullscreen></iframe>#}
            {#</div>#}
            {#<p class="lead nobottommargin">Suntem convinși de faptul că putem face o diferență ca și comunitate, de aceea ne dorim să reunim un număr cât mai mare de membri atât din țară cât și din străinătate.</p>#}
        {#</div>#}
    {#</div>#}

{#</div>#}


